{% extends "base.html" %}

{% block title %}{{work.title}}{% endblock %}

{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h1>Consultation</h1>
                {% if request.user == work.user %}
                <p><a href="{% url 'edit_work' work.link %}">Modifier le projet</a></p>

                {% endif %}


                {% autoescape off %}{{view_of_versions.content}}{% endautoescape %}


            </div>
        </div>
    </div>
</section>


{% endblock %}