{% extends "base.html" %}


{% block title %}Déposer{% endblock %}
{% block link %}

{% endblock %}

{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">

                <h1>Déposer</h1>

                C'est ici que vous déposez le bébé. Un poème écrit il y a deux ans, auquel il manquait un rien qui vous échappe ? Votre prochain article dans Le Monde, qui manque quand même un peu de panache alors qu'il est à la une ? Non, je sais, cette nouvelle incroyable que vous gardez précieusement sur un carnet, mais qui, si elle était améliorée d'un poil, ferait passer Balzac et Maupassant pour BHL ! Bref, bien que je m'égare çà et là, pour déposer votre écrit, quel qu'il soit, c'est bien ici !
                <br/>
                <br/>

                <form action="{% url 'drop' %}" method="post">

                    {% csrf_token %}

                    {{ work_form.as_p }}

                    {{ version_form.as_p }}



                    <input class="btn" type="submit" value="Déposer" />

                </form>

            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="//cloud.tinymce.com/stable/tinymce.min.js"></script><script>
tinymce.init({
  selector: 'textarea',
  height: 500,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
  ],
  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tinymce.com/css/codepen.min.css'
  ]
 });

</script>
{% endblock %}
