{% if request.user == work.user %}
<ul class="pager active">
    <li><a href="{% url 'edit_work' work.link %}">Modifier le projet</a></li>
    {% if participated %}
        <li><a href="{% url 'edit' work.link %}">Proposer une nouvelle version</a></li>
    {% endif %}
</ul>
{% endif %}

<br>
<h3>{{work.title}}</h3>
<br>
<p>{{work.presentation}}</p>
<br>

<ul class="pager active">
    <li onclick="previous()" style="cursor: pointer;"><a>Précédente</a></li>
    <li onclick="next()" style="cursor: pointer;"><a>Suivante</a></li>
</ul>

<div id="displayed"></div>



{% for index, v in versions %}
<div id="version{{index}}" style="display:none">
<h4>Version no {{index}} de {{v.user}} du
{{v.creation_date}}</h4>
<br>
<div class="text">{% autoescape off %}{{v.text}}{% endautoescape %}</div>
</div><br/>

{% endfor %}

<script>
var length = {{length}};
var current = length - 1;
document.getElementById("displayed").innerHTML=document.getElementById("version"+current).innerHTML;
function next() {
    if (current == length-1) {return};
    current = current + 1;
    document.getElementById("displayed").innerHTML=document.getElementById("version"+current).innerHTML;
};
function previous() {
    if (current == 0) {return};
    current = current - 1;
    document.getElementById("displayed").innerHTML=document.getElementById("version"+current).innerHTML;
};


</script>
