{% extends "base.html" %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">

                <h1>Qui sommes-nous ?</h1>

                <p>Ou plutôt, qui suis-je ? (même si j'espère que d'autres me rejoindront dans l'aventure)</p>
                <p>Je suis un jeune étudiant en école d'ingé, non loin de Palaiseau, au sud de Paris. Ayant touché un peu à tout, de la poésie au journalisme, en passant par des chroniques et quelques nouvelles, j'ai eu envie de m'améliorer un peu. Malgré une évidente marge de progrès, je me suis rendu compte que l'exercice était très difficile, à moins de passer des heures à lire les créations d'autres personnes, ce avec un bon esprit analytique. Ne trouvant ni le temps pour ça, ni le talent de l'autodidacte, j'ai décidé de créer ce site.</p>
                <p>Le développement a commencé en octobre 2016. Tout est encore en bêta et le restera pendant un bon bout de temps. Mais si vous avez des remarques, ou en bons esprits créatifs, des idées, sachez que vous pouvez participer en me les envoyant. Ce site, il est pour vous, et si vous le souhaitez, il peut être de vous. :)</p>

            </div>
        </div>
    </div>
</section>
{% endblock %}