{% extends "base.html" %}

{% block title %}Choix d'un projet{% endblock %}

{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">

                <h1>Choix projet</h1>
                <p>Deux modifications et un commentaire de votre part peuvent changer la vie d'un autre écrivain. Reste à savoir sur quel écrit vous voulez contribuer... Quel projet vous attire le plus ?</p>
                <br/><br/>
                {% for w in works %}
                <a href="{% url 'edit' w.link %}">
                <div class="col-sm-4" style="height:400px">
                <div class="workBlock">
                <p>{{w}}</p>
                <br>
                <p>{{w.get_nbr_contributors}} contributeur{{w.get_nbr_contributors | pluralize}}</p>
                <br>
                <p>{{w.description}}</p>
                </div></div></a>
                {% endfor %}
                {% if lack_of_works > 0 %}
                <a href="{% url 'drop' %}">
                <div id='lack'>
                Nous manquons actuellement de travaux. Donc si vous avez un petit écrit que vous souhaitez améliorer, n'hésitez pas, et cliquez ici pour le déposer. :)

                </div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>


<script>
document.getElementById('lack').class = "col-sm-" + {{lack_of_works}}*4 + " noWorkBlock"
</script>
{% endblock %}
