{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
<!-- TODO : Comprendre pourquoi ce bloc de texte décale de bloc content sur la page
 --><h1>Contribution</h1>


{% autoescape off %}{{view_of_versions.content}}{% endautoescape %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">

                <form action="{% url 'edit' work.link %}" method="post">

                    {% csrf_token %}

                    {{ version_form.as_p }}



                    <input type="submit" value="Contribuer" />

                </form>

            </div>
        </div>
    </div>
</section>


{% endblock %}