{% extends "base.html" %}

{% block title %}Contribution - {{work.title}}{% endblock %}
{% block link %}{% endblock %}

{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h1>Contribution</h1>
                {% autoescape off %}{{view_of_versions.content}}{% endautoescape %}

                <form action="{% url 'edit' work.link %}" method="post">

                    {% csrf_token %}

                    {{ version_form.as_p }}



                    <input class="btn" type="submit" value="Contribuer" />

                </form>

            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="//cloud.tinymce.com/stable/tinymce.min.js"></script><script>
tinymce.init({
  selector: 'textarea',
  height: 500,
  theme: 'modern',
  plugins: [
    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    'searchreplace wordcount visualblocks visualchars code fullscreen',
    'insertdatetime media nonbreaking save table contextmenu directionality',
    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
  ],
  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
  image_advtab: true,
  templates: [
    { title: 'Test template 1', content: 'Test 1' },
    { title: 'Test template 2', content: 'Test 2' }
  ],
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tinymce.com/css/codepen.min.css'
  ]
 });

</script>

<script>
document.getElementsByTagName('textarea')[0].value=document.getElementById('displayed').getElementsByClassName("text")[0].innerHTML

</script>


{% endblock %}