{% extends "base.html" %}
{% block title %}Gérer son compte{% endblock %}
{% block content %}

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">

                <h1>Gestion de compte</h1>

                <form onkeypress={document.getElementById('confirmation').style.display='none'}  action="/account/" method="post">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <input  class="btn" type="submit" value="Submit" />
                    {% if edit %}
                    <div>
                    <p style="color:green" id="confirmation">Présentation enregistrée !</p>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}

